@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">

    <title>Wenco</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

@if (!string.IsNullOrEmpty(Model.SideNumber))
{
    <table id="Opertable">

        <tr>
            <th>Машина</th>
            <th>Место работы</th>
            <th>Уже выполнено</th>
            <th>План по наряду</th>
            <th>Ед. изм.</th>

        </tr>
        <tr>
            <td>@Model.SideNumber</td>
            <td>@Model.Workplace</td>
            <td>@Model.Progress</td>
            <td>@Model.Plan</td>
            <td>@Model.Unit</td>
        </tr>
    </table>
}
else
{
    <div>Данные не найдены</div>
}


<div align=right>
    <a href="#" class="button15" tabindex="0">@Model.LocalIp</a>
</div>
</body>
</html>